@media (prefers-color-scheme: light) {
    :root {
        --fg: #1e1e1e;
        --bg: #e1e1e1;
        --card-bg: #9ce0f5;
        --card-fg: #252e2c;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: #e1e1e1;
        --bg: #0d0911;
        --card-bg: #192c3b;
        --card-fg: #f7dbec;
    }
}

* {
    margin: 0 1vw;
    padding: 0 3vw;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 2vh 0;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 5vh 0 0 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 5vh;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(1rem, 2.5vw, 1.5rem);

    background-color: var(--bg);
    color: var(--fg);
}

.card {
    background-color: var(--card-bg);
    color: var(--card-fg);

    border-radius: 2vw;

    height: calc((100vh / 3) * 2);

    background-size: cover;
    background-repeat: no-repeat;
}

.card-container {
    display: flex;
    flex-direction: row;
}

#card-1 {
    filter: hue-rotate(calc(360deg / 1));

    background-position-x: 85%;
}

#card-2 {
    filter: hue-rotate(calc(360deg / 2));
}

#card-3 {
    color: var(--card-bg);
    filter: hue-rotate(calc(360deg / 3));

    background-position-x: 40%;
}

.card>* {
    background: inherit;
    background-clip: text;
    color: transparent;
    filter: invert(1) contrast(4);
}
